---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
<div class="text-center">
  <h1 class="display-4">Will's Blog! <i class="fas fa-pencil-alt mr-2"></i></h1>
</div>

<hr class="my-5">

<!-- Latest Posts
================================================== -->
<h2 class="display-5 text-center mb-5">Latest Posts</h2>


<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
  {% if post.featured == true %}
  <div class="col-md-4 mb-5">
    {% include postbox.html %}
  </div>
  {% endif %}
  {% endfor %}
</section>

<!-- Posts List (3 columns)
================================================== -->
<section class="row">
  {% for post in paginator.posts %}
  {% unless post.featured == true %}
  <div class="col-md-4 mb-5">
    {% include postbox.html %}
  </div>
  {% endunless %}
  {% endfor %}
</section>

<!-- Pagination -->
<div class="bottompagination">
  <span class="navigation" role="navigation">
    {% include pagination.html %}
  </span>
</div>