---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro -->
<div class="text-center">
  <h1 class="display-4">Welcome to Will's Blog! 👋</h1>
  <p class="lead">Explore insights on technology, programming, and software development. Join me on this journey as we
    delve into the world of coding and innovation.</p>
</div>

<hr class="my-5">

<!-- Categories Dropdown and Latest Posts -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2 id="latest-posts" class="text-left" style="font-size: 2rem; font-weight: bold;">Latest Posts</h2>
  <div>
    <a href="http://localhost:4000/categories/" class="btn btn-outline-dark">
      <i class="fas fa-th-list"></i> Categories
    </a>
  </div>
</div>

<!-- Featured Posts -->
<section class="row">
  {% for post in site.posts %}
  {% if post.featured == true %}
  <div class="col-md-4 mb-5" data-category="{{ post.categories | map: 'slugify' | join: ' ' }}">
    {% include postbox.html %}
  </div>
  {% endif %}
  {% endfor %}
</section>

<!-- Posts List (3 columns) -->
<section class="row">
  {% for post in paginator.posts %}
  {% unless post.featured == true %}
  <div class="col-md-4 mb-5" data-category="{{ post.categories | map: 'slugify' | join: ' ' }}">
    {% include postbox.html %}
  </div>
  {% endunless %}
  {% endfor %}
</section>

<!-- Pagination -->
<div class="bottompagination">
  <span class="navigation" role="navigation">
    {% include pagination.html %}
  </span>
</div>

<script>
  // JavaScript function to filter posts by category
  function filterCategory(selectedCategory) {
    const posts = document.querySelectorAll('section.row div[data-category]');
    posts.forEach(post => {
      const postCategories = post.getAttribute('data-category').split(' ').filter(Boolean); // Filter out empty strings
      console.log('Selected Category:', selectedCategory); // Log selected category
      console.log('Post Categories:', postCategories); // Log post categories
      if (selectedCategory === '' || postCategories.includes(selectedCategory)) {
        post.style.display = 'block'; // Show post if it matches the selected category
      } else {
        post.style.display = 'none'; // Hide post if it doesn't match
      }
    });
  }
</script>

<!-- Example of filtering posts by tags -->
{% assign week_notes_posts = site.posts | filter_posts: "tags", "includes 'week-notes'" %}
{% for post in week_notes_posts %}
<h2>{{ post.title }}</h2>
{% endfor %}