---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">
		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-sm-12">
            <!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->
			<div class="mainheading">             
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                        <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			<!-- Post Content -->
			<div class="article-post serif-font">
                <!-- Author and Date info at the top -->
                <div class="post-meta mb-4">
                    <span class="post-date">
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                        {% if page.last_modified_at %}
                        <span class="ml-2">(Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)</span>
                        {% endif %}
                    </span>
                    {% if page.author %}
                    <span class="post-author ml-3">
                        <i class="fas fa-user mr-2"></i>
                        {{ author.display_name }}
                    </span>
                    {% endif %}
                </div>

                <!-- Main content with improved typography -->
                <div class="post-content">
                    {{content}}
                </div>

                <!-- Tags section at the bottom -->
                {% if page.categories.size > 0 %}
                <div class="post-tags mt-4">
                    <i class="fas fa-tags mr-2"></i>
                    {% for category in sortedCategories %}
                    <a href="{{ site.baseurl }}/categories#{{ category | slugify }}" class="tag-link">{{ category }}</a>
                    {% unless forloop.last %} • {% endunless %}
                    {% endfor %}
                </div>
                {% endif %}
			</div>

            <!-- Prev/Next -->
            <div class="row PageNavigation mt-4 prevnextlinks">
              {% if page.previous.url %}
                <div class="col-md-6 prev-post">
                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}"><span>&laquo;</span> {{page.previous.title}}</a>
                </div>
              {% endif %}
              {% if page.next.url %}
                <div class="col-md-6 next-post">
                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} <span>&raquo;</span></a>
                </div>
              {% endif %}
            </div>
            <!-- End Prev/Next -->
            
            <!-- Author Box -->
            {% if page.author %}				
            <div class="author-box mt-5">
                <div class="author-avatar">
                    <img class="author-thumb" src="{{site.baseurl}}/{{author.avatar}}" alt="{{ author.display_name }}">
                </div>
                <div class="author-info">
                    <h5 class="author-name">
                        <a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ author.email }}" target="_blank" class="btn contact-btn">
                            <i class="fas fa-envelope"></i> Send Email
                        </a>
                    </h5>
                    <p class="author-description">{{ author.description }}</p>						
                </div>
            </div>				
            {% endif %}
		</div>
		<!-- End Post -->
	</div>

<!-- End Article
================================================== -->
